.text-dots {
  display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

textarea.form-control,
input.form-control,
textarea.form-control:focus,
input.form-control:focus {
  background-color: #fff;
}
